{% extends 'includes/home_frame_list.html' %}
{% load timetags %}
{% load i18n static %}

{% block template %}{% verbatim %}

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">融资人单位:</div>
<div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone" style='opacity:0.7;'>{{seller.name}}</div>

<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">类型:</div>
<div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone" style='opacity:0.7;'>
{{# ifCond seller.type 'seller'}}
融资人
{{else}}
出票人
{{/ifCond}}
</div>
<div class='mdl--cell mdl-cell--4-col mdl-cell--12-col-desktop mdl-grid'>
{{#results}}
<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp" style='height: 300px;'>
 	<div class="mdl-card__title mdl-color--grey-300">
    	<h2 class="mdl-card__title-text">{{number}}&nbsp;</h2>
  	</div>
  	<div class="mdl-card__supporting-text">
	  	<div class="vetting_node">预付款最高金额(元):&nbsp;</div><div class="vetting_dt">{{chgMoney pre_pay_max_x 1}}</div>
	  	<div class="vetting_node">额度有效期开始日:&nbsp;</div><div class="vetting_dt">{{formatDate valid_start_date 'YYYY-MM-DD'}}&nbsp;</div>
	  	<div class="vetting_node">额度有效期结束日:&nbsp;</div><div class="vetting_dt">{{formatDate valid_end_date 'YYYY-MM-DD'}}&nbsp;</div>
	  	<div class="vetting_node" style="width: 100%">买方清单:&nbsp;</div><div class="vetting_dt"></div>
	  	<div  style="float:left; display:inline; width: 100%">
	  		<ol style="margin:0px 0px;">
	  		{{#buyers.results}}
	  		<li>{{customer.name}}</li>
	  		{{/buyers.results}}
	  		</ol>
	  	</div>
	</div>
</div>
{{/results}}
</div>
{% endverbatim %}{% endblock %}

{% block js %}{{ block.super }}
<script>
$(function(event){
	api = $('#list').attr('data-endpoint')
	scrollLoadData('.mdl-layout__content', '#list', '#entry-template', api, 20, '.mdl-layout__content');
})
</script>
{% endblock %}

	{% block css %}{{ block.super }}
	<style>
	.ltitle{
		 width:40%; float:left; display:inline;
	}
	.rinfo{
		width:60%; float:right; display:inline;
	}
	
	.lable_cell{
		text-align:left; margin:10px 30px 0px 30px; 
	}
	
	.mdl-textfield{
		margin-left:20px;
	}
	.vetting_node{
	 	width:60%; float:left; display:inline;
	 	margin-top:10px;
	}
	.vetting_dt{
		width:40%; float:right; display:inline;margin-top:10px;
	}
	
	</style>
	{% endblock %}

    