{% extends base/tourismbase.html.html %}
    {% block main-body %}
        <!-- start page title area-->
        <div class="page-title-area ptb-100">
            <div class="container">
                <div class="page-title-content">
                    <h1>Booking</h1>
                    <ul>
                        <li class="item"><a href="index.html">Home</a></li>
                        <li class="item"><a href="booking.html"><i class='bx bx-chevrons-right'></i>Booking</a></li>
                    </ul>
                </div>
			</div>
			<div class="bg-image">
				<img src="assets/img/page-title-area/booking.jpg" alt="Demo Image">
			</div>
        </div>
        <!-- end page title area -->
        
        <!-- start booking section -->
        <section class="booking-section ptb-100 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="booking-form">
                            <form>
                                <div class="content">
                                    <h3>Personal Information</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="text" class="form-control" required placeholder="First Name" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="text" class="form-control" required placeholder="Last Name" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" required placeholder="Date of Birth" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="text" class="form-control" required placeholder="Country" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="email" class="form-control" required placeholder="Email" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="tel" name="name" class="form-control" required placeholder="Phone Number" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="address" class="form-control" required placeholder="Address" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3>Payment Information</h3>
                                    <div class="payment-tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="nav-link active" href="#tab-credit-card" data-toggle="tab"> Via Credit Card</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#tab-paypal" data-toggle="tab">Via Paypal</a></li>
                                        </ul>
                                        
                                        <div class="tab-content">
                                            <div id="tab-credit-card" class="tab-pane active">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="select-box">
                                                            <select class="form-control">
                                                                <option data-display='Card Type'>Card Type</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="number" name="text" class="form-control" required placeholder="Card Number" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="text" name="text" class="form-control" required placeholder="Card Holder Name" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input type="text" name="text" class="form-control" required placeholder="CVC" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="select-box">
                                                            <select class="form-control">
                                                                <option data-display='Expiry Month'>Expiry Month</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="select-box">
                                                            <select class="form-control">
                                                                <option data-display='Expiry Date'>Expiry Date</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="tab-paypal" class="tab-pane">
                                                <div class="paypal-text">
                                                    <p>To make the payment process secure and complete you will be redirected to Paypal Website .</p>
                                                     <a href="#" class="btn btn-default btn-lightgrey">Checkout via Paypal<span><i class="fa fa-angle-double-right"></i></span></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="row align-items-start mb-30">
                                            <div class="col-lg-12">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="agreement">
                                                    <label for="agreement">I agreed Jaunt <a href="terms-of-service.html">Terms of Services</a> and <a href="privacy-policy.html">Privacy Policy</a></label>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn-primary">
                                            Confirm Booking
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside>
                            <div class="row align-items-center">
                                <div class="col-md-12 col-sm-12">
                                    <div class="item-single mb-30">
                                        <div class="image">
                                            <img src="assets/img/destination7.jpg" alt="Demo Image">
                                        </div>
                                        <div class="content">
                                            <span class="location"><i class='bx bx-map' ></i>95 Fleet St, London</span>
                                            <h3>
                                                <a href="destination-details.html">Venice The Dream Place</a>
                                            </h3>
                                            <div class="review">
                                                <i class='bx bx-smile'></i>
                                                <span>9</span>
                                                <span>Superb</span>
                                            </div>
                                            <p>
                                                Two short getaway breaks in the Greece together and one mini caravan holiday.
                                            </p>
                                            <hr>
                                            <ul class="list">
                                                <li><i class='bx bx-time'></i>7 Days</li>
                                                <li><i class='bx bx-group'></i>65+</li>
                                                <li>$2000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-content">
                                <h3 class="sub-title">Some Information</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content-list">
                                            <i class='bx bx-map-alt' ></i>
                                            <h6><span>Country :</span> Oia, Greece</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="content-list">
                                            <i class='bx bx-book-reader'></i>
                                            <h6><span>Language Spoken :</span> English</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="content-list">
                                            <i class='bx bx-notepad'></i>
                                            <h6><span>Visa Requirments :</span> Yes</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="content-list">
                                            <i class='bx bx-area' ></i>
                                            <h6><span>Area (km2) :</span> 1770.80 km2</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="content-list">
                                            <i class='bx bx-user'></i>
                                            <h6><span>Per Person :</span> $1200</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="content-list">
                                            <i class='bx bx-group'></i>
                                            <h6><span>Guide :</span> Local Guide Available</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- end booking section -->

    {% endblock %}
