{% extends 'railguns/mdl/detail.html' %}
<!-- load -->
{% load i18n static %}
{% block css %}{{ block.super }}
<style type="text/css">
body>.grid {
	height: 100%;
}

.mdl-textfield{
	width:90%; margin-left:auto; margin-right:auto; 
} 

</style>
{% endblock %}

{% block body %}
	<div class="mdl-grid">
		<div class="mdl-card mdl--cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-phone mdl-shadow--4dp" style="margin-left:auto; margin-right:auto; margin-top:50px;">
			<div class="mdl-card__title mdl-color--blue-400 mdl-color-text--grey-50" style="height:50px;">
		  		<h4>密码修改</h4>
	    	</div>
	    	<form action="/accounts/update_password/" method="post">
			{% csrf_token %} 
			<div class="mdl-card__supporting-text" style="{margin-top: 20px;}">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				    <input class="mdl-textfield__input" type="password" id="old_password" name="old_password">
				    <label class="mdl-textfield__label" for="old_password">原密码</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				    <input class="mdl-textfield__input" type="password" id="password" name="password">
				    <label class="mdl-textfield__label" for="password">新密码</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				    <input class="mdl-textfield__input" type="password" id="repassword" name="repassword">
				    <label class="mdl-textfield__label" for="repassword">确定新密码</label>
				</div>
		        <div class="ui error message">{{err_msg | safe}}</div>
			</div>
			<div class="mdl-card__actions mdl-card--border">
			  	<button class="mdl-button mdl-js-button mdl-button--raised submit" style="margin:0 auto;display: block; background-color: #178df0; width: 300px; color:#ffffff">
				 立即修改
				</button>
			</div>
			</form>
		</div>
	</div>
{% endblock %}
